
.block-login {
    margin-bottom: 6rem;
}

.title-log {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: block;
    width: 100%;
}

.title-log>span {
    font-size: var(--font-42);
    font-weight: 600;
    text-transform: uppercase;
}

.form-login {
    margin: auto;
    /* margin-bottom: 8rem; */
    width: 100%;
    margin-top: 2rem;
    padding: 0;
}

.form-login>legend {
    font-size: var(--font-26);
    font-weight: 500;
    text-align: center;
}

.form-login>.form-group {
    font-size: var(--font-16);
}

.form-login>.form-group>label {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.form-login>.form-group>input {
    font-size: var(--font-16);
    height: 3rem;
    outline: none;
    border-radius: 1rem;
}

.body-form {
    margin: auto;
    border: 1px solid #c0bdbd;
    border-radius: 1rem;
}

.body-content {
    margin-bottom: 3rem;
}

.button-log {
    margin-top: 3rem;
    display: flex;
    align-items: flex-end;
}

.button-log>button {
    font-size: var(--font-16);
    padding: 0.3rem 1.5rem;
    border-radius: 10px;
    background-color: var(--color-brown);
    color: white;
}

.remember {
    display: flex;
    width: 50%;
    align-items: center;
    padding: 0rem 2rem;
}

.remember>label {
    font-size: var(--font-13);
    margin: 0;
}

.remember>input {
    display: inline;
    outline: none!important;
    box-shadow: none!important;
    width: 8%;
}

.bottom-log {
    font-size: 13px;
    margin: auto;
    padding: 2rem 0rem;
}

.bottom-log>span {}

.bottom-log>span>a {}